.field {
  margin-bottom: 10px;
  background-color: aqua;
}

.label {
  font-weight: bold;
}

.input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.select {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.help {
  font-style: italic;
}

.button {
  padding: 15px 32px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:16px;
}

/* Option A */
.button.is-success {
  background-color:#FF0000; /* Red */
  border:none;
  color:white;
}

/* Option B */
.button.is-success {
  background-color:#FFA500; /* Orange */
  border:none;
  color:white;
}

/* Option C */
.button.is-success {
  background-color:#FFFF00; /* Yellow */
  border:none;
  color:black;
}